* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html {
	overflow-y: scroll;
}
body {
	max-width: 42em;
	padding: 0 1em 1em 1em;
	margin: 0 auto;
	font-family: 'Open Sans';
	font-size: 12pt;
	line-height: 1.5;
}
p, table {
	margin: 0.5em 0;
}
h1, h2, h3, h4 {
	padding-top: 0.5em;
}
h1 {
	font-size: 1.95em;
}
h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1em;
	font-style: italic;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 2em;
}
pre, code {
	font-family: monospace;
	font-size: 9pt;
}
pre {
	background: #e0e0e0;
	padding: 0.5em;
}
a {
	color: black;
}
i, i * {
	font-style: italic;
}
td, th {
	padding: 0.25em 1em;
}
th {
	font-weight: bold;
	text-align: left;
}
ul, ol, dl {
	margin: 0.5em 0 0.5em 2em;
}
ul ul, ul ol, ul dl,
ol ul, ol ol, ol dl,
dl ul, dl ol, dl dl {
	margin: 0 0 0 2em;
}
ul {
	list-style: disc outside none;
}
ol {
	list-style: decimal outside none;
}
sub {
	vertical-align: sub;
}
sup {
	vertical-align: super;
}
abbr {
	border-bottom: 1px dotted black;
}
blockquote {
	margin: 1em 1em 1em 4em;
}
blockquote:before {
	content: '“';
	display: block;
	float: left;
	margin: -0.25em 0 0 -1em;
	font-size: 4em;
	color: #808080;
}
header {
	display: none;
}
nav {
	padding-left: 2em;
	height: 5em;
	background: black;
}
nav a {
	display: inline-block;
	padding: 0 0.75em;
	height: 5em;
	line-height: 5em;
	vertical-align: middle;
	color: white;
	text-decoration: none;
}
nav a:first-child {
	padding: 0;
}
nav a:nth-child(2) {
	padding: 0 0.75em 0 1.5em;
}
nav a:last-child {
	padding: 0 1.5em 0 0.75em;
}
.img_right {
	float: right;
	margin: 1em;
}
.img_right img {
	max-width: 100%;
}
.minutes {
	background: none;
}
