@media (max-width: 680px) {
	header, nav {
		float: none;
	}
	header {
		display: block;
		text-align: center;
	}
	nav {
		padding-left: 0;
		height: auto;
		background: black;
	}
	nav a {
		text-align: center;
		display: block;
		padding: 0 0.75em;
		height: 2.5em;
		line-height: 2.5em;
	}
	nav a:first-child {
		display: none;
	}
	nav a:nth-child(2) {
		padding: 0 0.75em;
	}
	nav a:last-child {
		padding: 0 0.75em;
	}
	.img_right {
		float: none;
		text-align: center;
		margin: 0;
	}
}
